<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ウマREN</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
        <a href="#" class="toptext">ウマREN</a>
      <nav>
          <a href="#">トーク</a>
          <a href="#">ユーザー検索</a>
          <a href="#">友達一覧</a>
          <a href="#">プロフィール編集</a>
      </nav>
    </header>
    <main>
      <section class="intro">
        <h2>ウマRENへようこそ！</h2>
        <p>このサイトは、馬好きの方同士が交流し、ウマライフをより楽しむためのプラットフォームです。</p>
        <p>競馬だけでなくウマ娘や乗馬など多岐に渡るコンテンツの交流をお楽しみいただけます。</p>
        <a href="#" class="button">さっそくはじめる！</a>
      </section>
      <section class="news">
      </section>
      <section class="photos">
        <p><font size="20">様々なコンテンツの仲間と出会える！</font></p>
        <p><font size="20" class="contents">競馬 ウマ娘 乗馬等</font></p>
        <ul>
          <li>
            <%= image_tag "競馬写真.jpg" %>
          </li>
          <li>
            <%= image_tag "友達とスマホ.jpg" %>
          </li>
          <li>
            <%= image_tag "乗馬.jpg" %>
          </li>
        </ul>
        <a href="#" class="button">もっと見る</a>
      </section>
    </main>
    <footer>
      <p>&copy; ウマREN All Rights Reserved.</p>
    </footer>
  </body>
</html>